.about {
    opacity: 0;

    &__p {
        padding: 5%;
        font-size: 2rem;
    }

    &__wrapper {
        display: grid;
        grid-template-columns: 1fr;
    }

    &__column {
        display: grid;
        justify-content: stretch;
        align-content: space-around;
        font-size: 1.4rem;


        &__section {
            position: relative;
            margin: 5%;
            padding: 5% 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            background-color: $secondary-color;
            color: #fff;
            transition: $trs-time;
            border: 1px solid rgba(0, 0, 0, .4);
            border-radius: $border-radius;
            overflow: hidden;

            &:hover {
                background-color: $main-color;
            }

            // CSS classes correlated with event click in js.  

            // toggle hidden p --start

            &__p {
                margin-left: 5%;

                &--hidden {
                    position: relative;
                    bottom: -100%;
                    padding: 0 5%;
                    left: 0;
                    height: 0;
                    opacity: 0;
                    transition: $trs-time;
                }
            }

            &--show .about__column__section__p--hidden {
                padding: 5% 5%;
                transition: $trs-time;
                height: 100px;
                bottom: 0;
                opacity: 1;
            }

            // toggle hidden p --end

            // toggle img --start
            &__img {
                position: relative;
                background-image: url("../img/pro1.png");
                top: 0;
                right: 0;
                height: 34px;
                width: 47px;
            }

            &--show .about__column__section__img {
                background-image: url("../img/pro2.png");
            }

            // toggle img --end
        }
    }

    &__progress {
        padding: 5%;

        &__item {
            position: relative;
            padding: 20px 0;
            margin-bottom: 5%;
            width: 100%;

            &::before {
                content: "";
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                position: absolute;
                background-color: $secondary-color;
                transition: $trs-time;
                border-radius: $border-radius;
            }

            &__bar {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                z-index: 1;
                background-color: $main-color;
                box-shadow: inset 0 0 40px 2px rgba(0, 0, 0, .4);
                border-radius: $border-radius;

            }

            &__txt {
                position: absolute;
                top: 50%;
                left: 5%;
                white-space: nowrap;
                width: 80%;
                font-size: 1.6rem;
                transform: translateY(-50%);
                text-align: left;
                color: #fff;
                z-index: 2;
            }
        }
    }
}