@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=latin-ext');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto Condensed',
        sans-serif;
    font-size: 10px;
    color: $secondary-color;
}

section {
    padding: 10vh 0;
    text-align: center;
}

.show {
    position: relative;
    animation: show 2s ease-in-out forwards;
}

@keyframes show {
    0% {
        top: 25px;
        opacity: 0;
    }

    100% {
        top: 0;
        opacity: 1;
    }
}