h1 {
    padding: 20px 5% 40px 5%;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 700;
}

.btn {
    background-color: $main-color;
    color: #fff;
    padding: 1rem 1.8rem;

    opacity: .7;
    cursor: pointer;
    @include shadow;
    border: none;
    border-radius: $border-radius;
    transition: $trs-time;

    &:hover {
        opacity: 1;
    }

    &--ok {
        background-color: rgb(4, 192, 167);
    }
}

a {
    text-decoration: none;
    color: #fff;
}