.header {

    display: grid;
    grid-template-rows: 14fr;

    &__nav {
        position: fixed;
        width: 100%;
        background: rgba(0, 0, 0, .6);
        padding: 2%;
        display: grid;
        grid-template-columns: 1fr 1fr 2fr;
        align-content: center;
        justify-content: space-between;
        z-index: 2;
        grid-template-areas:
            "logo . menu";

        &__logo {
            grid-area: logo;
            align-self: center;
            margin-left: 20%;

            & img {
                display: block;
                width: 100%;
            }
        }

        &__menu {
            display: none; //toggle in mqs
            grid-template-columns: repeat(5, 1fr);
            grid-area: menu;
            align-items: center;

            list-style: none;

            &__item {
                list-style: none;

                &__link {
                    display: block;
                    text-decoration: none;
                    text-transform: uppercase;
                    color: #fff;
                    text-align: center;

                    &--active {
                        color: $main-color;
                    }
                }
            }
        }

        &__menu-icon {
            text-align: right;
            margin-right: 10%;
            font-size: 3rem;
            color: #fff;
            grid-area: menu;

            & i {
                cursor: pointer;
            }

        }
    }

    &__main {
        height: 85vh;
        background: url("../img/homebenner.jpg");
        background-position: center;
        background-size: cover;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        overflow: hidden;

        &__h1 {
            font-size: 3.6rem;
        }

        &__h2 {
            position: relative;
            padding: 20px 5%;
            text-align: center;
            font-style: italic;

            &__span {
                position: absolute;
                bottom: 0;
                right: 10%;
                font-size: .9rem;
                font-style: normal;
            }
        }
    }
}