// min-width:768px

@media(min-width:768px) {
    .about {

        &__wrapper {
            grid-template-columns: 1fr 1fr;
        }
    }

    .service {
        &__wrapper {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 2%;

            &__column {
                min-height: 50vh;
                display: grid;
                justify-content: center;
                align-items: center;
                align-content: space-around;

                &__i {
                    font-size: 3rem;
                }
            }
        }
    }

    .offer {
        &__wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;

            &__column {
                display: flex;
                align-items: flex-start;
                text-align: left;

                &__icon {
                    text-align: center;
                    width: 100px;
                    height: 100px;
                    line-height: 100px;
                }

                &__txt {
                    padding-left: 5%;

                    &__h2 {
                        padding-top: 0;
                    }
                }

            }
        }
    }

    .reviews {
        &__wrapper {

            &__column {
                margin: 0 10%;
                display: grid;
                grid-template-columns: 1fr 1fr;
                align-items: center;
                justify-content: center;

                &__txt {
                    text-align: left;
                }
            }
        }
    }
}