@media(min-width:768px) {

    .about {

        &__wrapper {
            grid-template-columns: 1fr 1fr;
        }
    }

    .service {
        &__wrapper {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 2%;

            &__column {
                min-height: 50vh;
                display: grid;
                justify-content: center;
                align-items: center;
                align-content: space-around;

                &__i {
                    font-size: 3rem;
                }
            }
        }
    }

    .offer {
        &__wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;

            &__column {
                display: flex;
                align-items: flex-start;
                text-align: left;

                &__icon {
                    text-align: center;
                    padding: 0 2%;
                    width: 140px;
                    height: 140px;
                    line-height: 140px;
                }

                &__txt {
                    padding-left: 5%;

                    &__h2 {
                        padding-top: 0;
                    }
                }

            }
        }
    }

    .reviews {
        &__wrapper {

            &__column {
                margin: 0 10%;
                display: grid;
                grid-template-columns: 1fr 4fr;
                align-items: center;
                justify-content: center;

                &__img {
                    width: 80%;
                    margin: 0;
                }

                &__txt {
                    margin: 0 5%;
                    text-align: left;
                }
            }
        }
    }

    .achievements {
        grid-template-columns: repeat(4, 1fr);
        padding: 7%;
        grid-gap: 2%;

        &__column {
            width: 95%;
            margin: 5% auto;
            padding: 15% 5%;
        }
    }

    .team {
        &__p {
            padding: 5% 5% 8% 5%;
            font-size: 1.8rem;
        }

        &__wrapper {
            display: grid;
            justify-content: center;

            grid-template-columns: repeat(4, 1fr);
            grid-gap: 2%;
            margin: 0 2%;
            font-size: 3rem;

            &__column {
                &__layer {
                    font-size: 2rem;
                }
            }

        }
    }

    .works {

        &__wrapper {
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 5%;
        }
    }

    .footer {
        &__subscribe {
            grid-template-columns: 1fr 1fr;
            align-items: center;
            text-align: right;

            &__p {
                margin-right: 5%;
            }
        }

        &__main {
            background-color: #151515;
            color: #ccc;

            &__wrapper {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                padding: 5%;
                grid-gap: 5%;
            }
        }
    }

}

@media(min-width:1024px) {
    html {
        font-size: 16px;
    }

    .header {
        &__main {

            &__h1 {
                font-size: 6rem;
            }
        }

        &__nav {
            &__menu {
                position: relative;
                grid-template-columns: repeat(5, 1fr);
                grid-area: menu;
                align-items: center;
                background-color: transparent;
                left: 0;
                top: 0;

                &__item {
                    margin: 0;
                    font-size: 1rem;
                }
            }

            &__menu-icon {
                display: none;

            }

        }
    }

}