.offer {
    &__wrapper {
        display: grid;

        &__column {
            padding: 5%;

            &__icon {
                width: 80px;
                height: 80px;
                line-height: 80px;
                margin: 0 auto;
                background-color: $main-color;
                color: #fff;
                font-size: 4rem;
            }

            &__txt {
                padding: 0 5%;

                &__h2 {
                    font-size: 2.5rem;
                    padding: 5% 0;
                }

                &__p {

                    font-size: 1.6rem;
                }
            }



        }
    }


}