.reviews {
    &__wrapper {
        &__column {
            padding: 2% 7%;

            &__img {
                border-radius: 50%;
                width: 40%;
                margin: 0 auto;

                & img {
                    width: 100%;
                    display: block;
                }
            }

            &__txt {
                margin: 5% 0;

                &__h2 {
                    font-weight: 700;
                    font-size: 2.2rem;
                }

                &__h6 {
                    font-size: 1.6rem;
                    color: $main-color;
                    margin-bottom: 5%;
                }

                &__p {
                    font-size: 1.6rem;
                }
            }
        }


    }
}