.service {
    text-align: center;

    &__wrapper {
        display: grid;

        &__column {
            margin: 5%;
            padding: 5%;
            @include shadow;

            &__h2 {
                margin: 5% 0;
                letter-spacing: 3px;
                text-transform: uppercase;
            }

            &__i {
                display: block;
                font-size: 2rem;

                &::before {
                    text-shadow: 2px 4px 1px rgba(0, 0, 0, .4);
                }

            }

            &__p {
                font-size: 1.4rem;
                margin-bottom: 5%;
            }
        }
    }
}