.service {
    opacity: 0;

    &__wrapper {
        display: grid;

        &__column {
            margin: 5%;
            padding: 5%;
            border-radius: $border-radius;
            @include shadow;
            transition: $trs-time;

            &:hover {
                background-color: $secondary-color;
                color: #fff;
            }

            &__h2 {
                margin: 5% 0;
                letter-spacing: 3px;
                text-transform: uppercase;
            }

            &__icon {
                display: block;
                font-size: 3rem;

                &::before {
                    text-shadow: 2px 4px 1px rgba(0, 0, 0, .4);
                }

            }

            &__p {
                font-size: 1.4rem;
                margin-bottom: 5%;
            }
        }
    }
}